.button {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    width: 8vw;
    padding: 0.7%;
    border: 3px solid #5874c0;
    color:  #5874c0;
    background-color: transparent;
}

.selected {
    background-color:  #5874c0;
    color: white;
}